.main{
    margin-top: 9% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.container{
    margin-right: auto;
    margin-left: 9%;
    padding-left: 15px;
    padding-right: 15px;
}
.title-detail {
    font-weight:900;

    font-size: 21px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    line-height: 1.2;
    white-space: normal;
    margin-bottom: 2%;
}

.col-info{
   margin-left: 0;
}
.category-text
{
    
    background-color: #eee;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 0 10px;
}
a{
    color: inherit;
    text-decoration: none;
}
.name{
    font-weight:500;
    display: inline-block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.detail-content, .other-name{
    border-top: 2px solid #d4dae2;
    margin-top: 10px;
    padding-top: 10px;
}
.list-chapter span {
    display: inline-block;
}
.al-c {
    text-align: center;
}
.list-chapter .title {
    width: 375px;
}
.list-chapter .list-wrap {
    max-height: 340px;
    overflow: auto;
}
.list-chapter .list-wrap p a {
    color: #02770c;
    display: block;
    padding: 5px 3px;
}
.list-chapter .list-wrap p a:hover {
    color: #e7eb1b;
    background-color: rgb(90, 90, 212)  ;
}
.list-wrap .chapter-info:hover{
    color: #e7eb1b;
    background-color: rgb(90, 90, 212)  ;
}
.favorite-button
{
    display:inline-block;
    text-align: center;
    margin-right: auto;
    margin-left: 35%;
}
p{
    margin-bottom: 2%;
}
.chapter-info{
    margin-bottom: 1%;
}
.chapter-info:nth-child(even) {background-color: #f2f2f2;}
