.list-chapter span {
    display: inline-block;
}
.al-c {
    text-align: center;
}
.list-chapter .title {
    width: 375px;
}
.list-chapter .list-wrap {
    max-height: 340px;
    overflow: auto;
}
.list-chapter .list-wrap p a {
    color: #02770c;
    display: block;
    padding: 5px 3px;
}
.list-chapter .list-wrap p a:hover {
    color: #e7eb1b;
    background-color: rgb(90, 90, 212)  ;
}
.list-wrap .chapter-info:hover{
    color: #e7eb1b;
    background-color: rgb(90, 90, 212)  ;
}
.favorite-button
{
    display:inline-block;
    text-align: center;
    margin-right: auto;
    margin-left: 35%;
}
p{
    margin-bottom: 2%;
}
.chapter-info{
    margin-bottom: 1%;
}
.chapter-info:nth-child(even) {background-color: #f2f2f2;}